@model CategoryFilterModel

<form asp-area="Admin"
      asp-controller="Categories"
      asp-action="Index"
      method="get"
      class="row py-2 gy-2 gx-5 align-items-center justify-content-center">
    <div class="col-auto">
        <label class="visually-hidden" asp-for="KeyWord"></label>
        <input type="text"
               class="form-control"
               asp-for="KeyWord"
               placeholder="Nhập từ khóa ..." />
    </div>

    <div class="col-auto">
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   asp-for="NotShowOnMenu" />
            <label class="form-check-label"
                   asp-for="NotShowOnMenu"></label>
        </div>
    </div>

    <div class="col-auto">
        <a asp-area="Admin"
           asp-action="Index"
           asp-controller="Categories"
           class="btn btn-warning">Bỏ lọc</a>
        <button type="submit" class="btn btn-primary">Tìm/Lọc</button>
        <a asp-area="Admin"
           asp-controller="Categories"
           asp-action="Edit"
           class="btn btn-success">
            Thêm mới
        </a>
    </div>
</form>
