<div class="my-4">

<!-- Form tìm kiếm-->
<partial name="_SearchForm"/>

<!-- các chuên muc / chủ đề-->
@await Component.InvokeAsync("CategoriesWidget")
<!-- top bài viết nổi bật-->
@await Component.InvokeAsync("FeaturedPosts")
<!-- đăng ký nhận tin mới -->
@await Component.InvokeAsync("RandomPosts")
<!-- Tag cloud-->
@await Component.InvokeAsync("TagPosts")
</div>